.primary {
  color: red;
  font-style: unset
}

.secondary {
  color: darkblue;
  font-style: inherit;
}

.formUI {
  text-align: center;
  background-color: lightblue;
  border: 3px solid #555;
  border-radius: 8px;
}
